.menu ul {
    list-style-type: none;
   
    height: 65px;
    background-color: #ff56a5;
  
 
 
  overflow: hidden;
  position: sticky;
  top: 0;
}

.menu li {
    display: inline-block;
    float: right;
}

.menu li a {
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
 
    font-weight: bold;
    text-decoration: none;
    font-size:1.3vw;
}

.menu li a:hover {
    background-color: rgb(255, 168, 209);
  
}

.menu h3 {
    line-height: 60px;
}

.menu div {
    line-height: 32px;
}

.menu img {
    display: inline-block;
    float: left;
    padding-bottom: 10px;
}

.carousel {
    margin-top: 20px;
}

.carousel img {
    max-height: 550px;
}

.banner {
    width: 100%;
    /* height: auto; */
}

.title {
    color: white;
    position: absolute;
}

.profile{
    display: inline-block;
}

.footer{
    display: inline-block;
}