<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--This names the page tab-->
    <title>Paint the Parkway Pink</title>
    <!--THIS LINKS CSS SHEET TO PAGE-->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Paint The Parkway Pink</h1>
    <!--THIS IS THE MENU BAR-->
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="about.ejs">About</a></li>
            <li><a href="sponsorForm.ejs">Sponsor Registry</a></li>
            <li><a href="walkerForm.ejs">Walker Registry</a></li>
            <li><a href="donorForm.ejs">Donor Registry</a></li>
            <li><a href="map.ejs">Map</a></li>
        </ul>
        <!--END MENU BAR-->
    <br>
<br>
<br>
<br>
<div>
<h3>Donor Registration Form</h3>
    <form>
        First Name:<br>
        <input type="text" name="DONATOR_fName"><br>
        Last Name: <br>
        <input type="text" name="DONATOR_lName"><br>
        Phone Number: <br>
        <input type="text" name="DONATOR_PhoneNum"><br>
        Email Address:<br>
        <input type="text" name="DONATOR_Email"><br>
        Donation Amount: <br>
        <input type="text" name="DONATOR_DonationAMT"><br>
        <input type="submit" value="submit">
    </form>

</div>


</body>

</html>